@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  @apply text-xl font-bold
}

body {
  @apply bg-gray-100
}

.description-text {
  @apply pt-6 text-gray-500
}

.description-text p,
.apply-cta p {
  @apply pb-4
}

.description-text ul {
  @apply list-disc pl-4 pb-8
}

.apply-cta a {
  @apply font-medium text-indigo-700
}


.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
